*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bai3{
    text-align: center;
}
.bai_test{
    display: flex;
    justify-content: space-between;
}
.div{
    height: 302px;
    width: 620px;
    background-color: violet;
    border: 1px solid #000;
    margin: 6px 24px 0 22px;
}
.h2{
    margin: 20px 20px;
}
.butt{
    margin-top: 20px;
    font-size: 1rem;
    background-color: blue;
    border-radius: 40px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
}
.div1{
    margin-top: 40px;
    border: 1px solid #000;
    width: 100%;
}
.buttt{
    margin-top: 20px;
    font-size: 1rem;
    background-color: green;
    border-radius: 40px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
}